.residents {
  width: 90%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 120px;
  margin: 130px auto;
}

.resident-container {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.resident-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Add overflow: hidden to hide any overflowing content */
}

.resident-image img {
  height: 75vh;
  width: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.resident-image img:hover {
  opacity: 1;
}

.heading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
  text-align: center;
  pointer-events: none;
}
